html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: rgb(194, 194, 194);
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background 0.4s ease;
  background: transparent;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.logo-box {
  background-color: orange;
  color: #fff;
  font-weight: 900;
  padding: 6px 10px;
  border-radius: 6px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color:orange;
}

.call-btn {
  background-color:orange;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
}
.btns{
    display: flex;
  
    gap: 15px;
    margin-top: 10px;
}
.btns button{
     background-color:orange;
     border: none;
  color: #fff;
  padding: 18px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btns button:hover{
     background-color: rgba(255, 208, 0, 0.822);
  transform: translateY(-3px);
  color: rgb(218, 218, 218);
}

.call-btn:hover {
  background-color: orange;
  transform: translateY(-3px);
}


.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}


.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.623);
  border-bottom: 2px solid  orange;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.hero {
 
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.295)),url('./assest/bannerva.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;


  padding: 110px 60px;

}
.hero h1 {
  font-size: 80px;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.5s ease forwards;
}

.hero h1 .red {
  color: orange;
}

.hero p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  max-width: 400px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.5s ease 0.6s forwards;
 
  align-self: center;
}


@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 992px) {
  .hero h1 {
    font-size: 60px;
  }
  .navbar {
    padding: 15px 30px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    padding: 20px;
    border-left: 2px solid orange;
  }
  .btns{
    flex-direction: column;
    width: 90%;
  }

  .nav-links.active {
    display: flex;
    animation: slideIn 0.4s ease forwards;
  }

  @keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  .menu-toggle {
    display: block;
  }

  .call-btn {
    display: none;
  }

  .hero {
 
    padding: 0px 30px !important;

  }
.hero-content{
    
    margin: 80px 0px !important;
}
  .hero h1 {
    
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }
  .services-section {
    padding: 70px 15px;
  }
  .services-images{
   align-items: center;
    padding: 0px 0px;
  }
  .service-card{
     width: 100% !important;
  }
  .container2{
    padding: 0px 20px;
 
  }
}

.services-section {
  background: #0b0b0b;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.section-title .highlight {
  color: orange;
}

.section-subtitle {
  color: #bcbcbc;
  font-size: 1rem;
  margin-bottom: 60px;
}


.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}






@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .nav-btn {
    font-size: 1.5rem;
    padding: 6px 12px;
  }
}

.services-section {
  background: #0b0b0b;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}



.services-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service-card {
  background: #141414;
  border: 1px solid #2a2a2a;
  padding: 40px 20px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
  width: 30%;
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 166, 0, 0.459);
}

.icon-box {
  background: linear-gradient(145deg, orange, rgb(247, 180, 56));
  color: #fff;
  font-size: 28px;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.service-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.service-card p {
  color: #bcbcbc;
  font-size: 0.95rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
   .service-card{
    width: 95%;
   }
}

.animate-subtexts{
  font-size: 16px;
  line-height: 1.2;
  color: #ccc;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.5s ease 0.6s forwards;
  text-align: start;

  width: 80%;
}
.icon-box{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  animation: fadeUp 1.5s ease 0.6s forwards;
  transform: translateY(30px);
    opacity: 0;
}
.icon-box i{
 background: linear-gradient(145deg, orange, rgb(247, 180, 56));
  color: #fff;
  font-size: 23px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

}
@media (max-width: 768px) {
  .long-para{
  width: 100%;
}
.icon-box{
  flex-direction: column;
}
.animate-subtexts{
  text-align: center;
  font-size: 15px;
}
}
.menu{
  background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.884)),url('./assest/realistic-italian-pizza-poster-vector-35289168.avif') center/cover no-repeat;
  color: #fff;
  padding: 30px 20px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;


}
.menu-image{
   
    height: 550px;
    width: 50%;
 
}

  .menu-image iframe {
    width: 100%;
    height: 88%;
    border: none;
    background: transparent;
    border-radius: 10px;
  }
 .menu-image button{
     background-color:orange;
     border: none;
  color: #fff;
  padding: 18px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}
 .menu-image button:hover{
     background-color: rgba(255, 208, 0, 0.822);
  transform: translateY(-3px);
  color: rgb(218, 218, 218);
}
@media (max-width: 768px) {
    .menu{
        padding: 0px 30px;
    }
    .menu-image{
    width: 100%;
}
.footer1{
    padding: 30px 30px;

}

}
.footer1{
  background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.884)),url('./assest/footer-banner2.jpg') center/cover no-repeat;
  color: #fff;
  padding: 30px 20px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnss{

    display: flex;
    justify-content: center;
    gap: 10px;
}
 .btnss button{
  background-color:orange;
  border: none;
  color: #fff;
  padding: 18px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50px;

}
 .btnss button:hover{
     background-color: rgba(255, 208, 0, 0.822);
  transform: translateY(-3px);
  color: rgb(218, 218, 218);
}
@media (max-width: 768px) {
    .footer1{
         padding: 30px 30px;
    }
    .btnss{
        flex-direction: column;
        align-items: center;
    }

}
.footer2{
  color: #fff;
  padding: 30px 20px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-subtitles {
  color: #bcbcbc;
  font-size: 1rem;
  margin-bottom: 15px;
}

